{% extends "base.html" %}
{% load static %}

{% block title %}Create UGC{% endblock %}

{% block head %}
  <script type="importmap">
    {
      "imports": {
        "studio/preview-speech": "{% static 'studio/js/preview-speech.js' %}",
        "studio/prepare-script": "{% static 'studio/js/prepare-script.js' %}",
        "studio/script-editor/break": "{% static 'studio/js/script-editor/break.js' %}"
      }
    }
  </script>
  <script type="module" src="{% static 'studio/js/script-editor.js' %}"></script>
  <script type="module" src="{% static 'studio/js/ugc-form.js' %}"></script>
{% endblock %}

{% block content %}
  <nav class="m-10 flex justify-end items-center gap-4">
    <span class="text-base font-semibold">Credits: {{ user.account.credits }}</span>
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button class="button-surface" type="submit">Logout</button>
    </form>
  </nav>
  <div class="m-10 flex gap-10">
    <main class="p-8 bg-white border border-black/15 rounded-xl shadow-md shadow-black/5 max-w-xl w-full max-h-fit">
      <h2 class="text-2xl font-bold">Create UGC</h2>
      <form method="post" class="mt-10">
        {% csrf_token %}
        <span class="form-label">1. Select Creator</span>
        <input id="creator-input" type="hidden" name="creator">
        <div class="grid grid-cols-3 gap-5 mt-4">
          {% for creator in creators %}
            <video id="creator-video" data-creator-id="{{ creator.id }}" class="aspect-[9/16] rounded-lg data-[selected=true]:outline-3 object-cover data-[selected=true]:outline-pink-700 bg-stone-100" src="{{ creator.public_video_url }}" autoplay muted loop playsinline></video>
          {% endfor %}
        </div>
        <div class="mt-10">
          <div class="flex justify-between items-center">
            <label for="script" class="form-label block w-fit">
              2. Write Script
            </label>
            <div class="flex items-center gap-2">
              <button id="prepare-script-trigger" type="button" class="button-surface">Prepare Script</button>
              <button id="preview-speech-trigger" type="button" class="button-surface">Preview Speech</button>
            </div>
          </div>
          <textarea id="script" name="script" class="form-textarea mt-4 w-full min-h-64" required></textarea>
          <div id="script-editor" class="mt-4"></div>
          <p class="text-base text-stone-500 mt-2">
            Add punctuation where appropriate. Use “-” to indicate pauses, and use “dot” instead of “.” in URLs. Use two question marks for questions, avoid using quotation marks, and put a space before a question mark.
          </p>
        </div>
        {% if user.account.credits > 0 %}
          <button class="button mt-12">Create</button>
          <p class="text-base text-stone-500 mt-2">You will be charged 1 credit for generation.</p>
        {% else %}
          <div class="mt-12 flex items-center gap-2 flex-col justify-center">
            <span class="text-xl font-bold">You don't have enough credits.</span>
            <a class="button" href="#">Buy Credits</a>
          </div>
        {% endif %}
      </form>
    </main>
    <aside class="flex-1 grid grid-cols-3 h-full gap-5">
      {% for ugc in ugcs %}
        {% if ugc.public_video_url %}
          <video src="{{ ugc.public_video_url }}" class="object-cover aspect-[9/16] rounded-lg bg-stone-100" playsinline controls></video>
        {% else %}
          <div class="aspect-[9/16] rounded-lg bg-stone-100 border-2 border-dashed border-stone-300 text-base text-stone-500 text-center flex items-center justify-center font-medium p-4 text-pretty">
            Processing, contact support if it takes over 1 hour.
          </div>
        {% endif %}
      {% endfor %}
    </aside>
  </div>
{% endblock %}