@import "tailwindcss";

@layer base {
  body {
    font-family: "Commissioner", var(--font-sans);
    font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
    background-color: var(--color-stone-50);
  }
}

@layer components {
  .form-label {
    font-weight: 600;
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    user-select: none;
  }

  .form-textarea {
    background-color: var(--color-white);
    border: 1px solid --alpha(var(--color-black) / 20%);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-xs);
    font-size: var(--text-lg);
    font-weight: 500;
    line-height: var(--text-lg--line-height);
    padding: --spacing(3);

    &:focus {
      outline-color: var(--color-pink-700);
    }

    &:disabled {
      background-color: var(--color-stone-100);
      border-color: --alpha(var(--color-black) / 10%);
      color: var(--color-stone-500);
      box-shadow: none;
    }
  }

  .button {
    background-color: var(--color-pink-700);
    color: var(--color-white);
    font-size: var(--text-xl);
    font-weight: 600;
    line-height: var(--text-xl--line-height);
    border-radius: calc(infinity * 1px);
    padding: --spacing(1.5) --spacing(2.5);

    &:active {
      background-color: var(--color-pink-800);
    }
  }

  .button-soft {
    background-color: var(--color-pink-50);
    color: var(--color-pink-700);
    font-size: var(--text-sm);
    font-weight: 600;
    line-height: var(--text-sm--line-height);
    border-radius: calc(infinity * 1px);
    padding: --spacing(1) --spacing(2.5);

    &:active {
      background-color: var(--color-pink-100);
    }

    &:disabled {
      background-color: var(--color-stone-100);
      color: var(--color-stone-500);
    }
  }

  .button-surface {
    background-color: var(--color-white);
    border: 1px solid --alpha(var(--color-black) / 25%);
    font-size: var(--text-sm);
    font-weight: 600;
    line-height: var(--text-sm--line-height);
    border-radius: calc(infinity * 1px);
    padding: --spacing(1) --spacing(2.5);

    &:active {
      background-color: var(--color-stone-100);
    }

    &:disabled {
      background-color: var(--color-stone-100);
      color: var(--color-stone-500);
    }
  }
}
