{% extends "admin/change_form.html" %}

{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/booth/creator/preview-speech.css' %}">
    <script type="importmap">
        {
            "imports": {
                "studio/preview-speech": "{% static 'studio/js/preview-speech.js' %}"
            }
        }
    </script>
    <script type="module" src="{% static 'admin/booth/creator/preview-speech.js' %}"></script>
{% endblock %}

{% block object-tools-items %}
    <li>
        <button id="preview-speech" class="preview-speech-button" data-creator-id="{{ original.id }}"
            data-language="{{ original.language }}">Preview Speech</button>
    </li>
    {{ block.super }}
{% endblock %}
